*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #f1f1f1;
    padding: 0 10px;
    max-width: 1440px;
    margin: auto;
}

.feed-main-title{
    text-align: center;
    margin-top: 20px;
    text-transform:capitalize;
}

.feed .feed-items{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
    margin-top: 20px;
}


@media screen and (max-width: 992px) {
    .feed .feed-items{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (max-width: 768px) {
    .feed .feed-items{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.feed .feed-items .feed-item{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.feed .feed-items .feed-item .image-wrapper{
    aspect-ratio:480/258;
    overflow: hidden;
    border-radius: 4px;
    background-color: rgb(245 245 245 / 1);
}
.feed .feed-items .feed-item .image-wrapper img{
    aspect-ratio:480/258;
    height:100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    transition-duration: .3s;
    
}
.feed .feed-items .feed-item .feed-item-info{
    text-wrap: pretty;
}

.feed .feed-items .feed-item .feed-item-info .feed-item-title{
     transition-duration: .3s;
    line-height:150%;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 0;
    color: rgb(3 7 18 /1);
}

.feed .feed-items .feed-item .feed-item-info .feed-item-description{
    color: rgb(108 117 125 / 1);
    font-weight: 500;
    font-size: 15px;
    padding :10px 0px;
}

.feed .feed-items .feed-item .feed-item-info .feed-item-date{
     color: rgb(108 117 125 / 1);
    font-weight: 500;
    font-size: 15px;
    padding :10px 0px;
}

